@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}
/* || Test Css */
body.index-page {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.position-relative {
  position: relative;
}



.align-items-center {
  align-items: center;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container_Hero {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.container_Hero h1, .container_Hero p {
  margin-right: 20px;
}

.container_Hero img {
  width: 40%; /* adjust the width to your liking */
  height: auto;
  margin-left: 20px;
}

.container_Hero_Text h1{
  font-size: 60px;
  padding-bottom: 50px;
}
.section-title {
  text-align: center;
  padding-bottom: 3rem;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-title p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0;
}

.header {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 100;
}


.img-fluid_animated {
  animation: moveUpDown 5s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}



.navmenu {
  display: flex;
  align-items: center;
}

.navmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navmenu li {
  position: relative;
}

.navmenu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navmenu a:hover {
  background-color: #f9f9f9;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown .dropdown li {
  min-width: 160px;
}

.dropdown .dropdown a {
  padding: 0.5rem 1rem;
}

.dropdown .dropdown a:hover {
  background-color: #f9f9f9;
}

.toggle-dropdown {
  display: none;
}

.mobile-nav-toggle {
  display: none;
}

.btn-getstarted {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #ffbb2c;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}




/* || Test Css */
/* || Header Navibar */

.headerNavi {
  display: flex;
  background-color: #FFF;
  padding: 20px;
  text-align: center;
  z-index: 1;
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Position it at the top */
  width: 100%; /* Full width */
  opacity: 0.9;

  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.headerNavibar {
  padding-left: 25%;
  justify-content: center;
  align-items: center;
  padding-right:30px;
  padding-top:10px;
}

.headerNavibar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerNavibar li {
  margin: 0 10px;
}

.headerNavibar li a {
  text-decoration: none;
  color: #000000;
}
.headerNavibar a:hover{
  color:rgb(0, 68, 255);
}

.headerNavi .loginButton {
  color: #000000;
  padding-top:10px;
}
.logo {
  max-width: 200px;
  max-height: 150px;
}
.loginButton:hover{
  color:rgb(0, 68, 255);
  text-shadow: #0F172A;
}

/* || Client Seassion */
#clients {
  background-color: #f9f9f9; /* light background */
  padding: 60px 0; /* section padding */
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


.client-logo {
  display: inline-block;
  width: 12%; /* adjust this value to fit all images in the same row */
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  /* Medium screens (≥768px) */
}

.client-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; /* optional */
}
.client-logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.client-logo:hover img {
  opacity: 0.8;
}
/* media queries for responsive design */

@media (max-width: 1199px) {
  .client-logo {
    width: 25%; /* col-md-3 */
  }
}

@media (max-width: 767px) {
  .client-logo {
    width: 50%; /* col-6 */
  }
}
/* || About Us */

/* || About Us */


/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  flex-grow: 1;
}

.public__main,
.login {
  padding-top: 10%;
}


.welcome a::before {
  content: "➜ "
}

/* || DASH HEADER, CONTAINER & FOOTER */



.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;

}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  max-width: 800px;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  NOTE */

.note__created,
.note__updated,
.note__username {
  display: none;
}

.note__status {
  font-weight: bold;
}

.note__status--open {
  color: var(--STATUS-OPEN);
}

.note__status--completed {
  color: var(--STATUS-COMPLETE);
}


/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px) {

  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--notes {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .note__created,
  .note__updated,
  .note__username {
    display: block
  }

  .form__action-buttons {
    position: static;
  }
}